<div class="form-wrapper">
  <div class="form-overlay" *ngIf="isSubmitting || loading">
    <div class="loading-spinner">
      <mat-progress-spinner 
        mode="indeterminate" 
        diameter="30"></mat-progress-spinner>
      <span style="margin-left: 10px" *ngIf="isSubmitting">Guardando...</span>
      <span style="margin-left: 10px" *ngIf="loading">Cargando...</span>
    </div>
  </div>

  <div [formGroup]="privilegeForm">
    <div class="form-row">
      <!-- Nombre del permiso -->
      <div class="form-field">
        <label>Nombre del permiso</label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput formControlName="key" />
          <mat-error *ngIf="privilegeForm.get('key')?.hasError('required')">
            El nombre es obligatorio
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Descripción -->
      <div class="form-field">
        <label>Descripción</label>
        <mat-form-field appearance="outline" class="w-100 description-field">
          <textarea
            matInput
            formControlName="description"
            class="description"
          ></textarea>
        </mat-form-field>
      </div>
    </div>

      <!-- Aplicación -->
      <div class="form-field">
        <label>Aplicación</label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select formControlName="applicationId">
            <mat-option [value]="1">
              {{ "Inventory" }}
            </mat-option>
            <mat-option *ngFor="let app of applications" [value]="app.id">
              {{ app.name }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="privilegeForm.get('applicationId')?.hasError('required')"
          >
            La aplicación es obligatoria
          </mat-error>
        </mat-form-field>
      </div>
    

    <div class="itg-button-group">
      <button mat-flat-button class="itg-cancel-button" (click)="onCancel()">
        Cancelar
      </button>
      <button
        mat-flat-button
        class="itg-primary-button"
        (click)="onSubmit()"
        [disabled]="isSubmitting || privilegeForm.invalid"
      >
       {{entityId!= 0 ? "Actualizar Rol": " Crear Rol" }}
      </button>
    </div>
  </div>
</div>
