<div class="form-wrapper">
  <div class="form-overlay" *ngIf="isSubmitting || loading">
    <div class="loading-spinner">
      <mat-progress-spinner mode="indeterminate" diameter="30"></mat-progress-spinner>
      <span style="margin-left: 10px" *ngIf="isSubmitting">Guardando...</span>
      <span style="margin-left: 10px" *ngIf="loading">Cargando...</span>
    </div>
  </div>

  <div [formGroup]="supplierForm" (ngSubmit)="onSubmit()">
    <div class="form-row">

      <!-- Nombre Empresa -->
      <div class="form-field">
        <label>Nombre Empresa <span class="required-asterisk">*</span> </label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput formControlName="businessName" minlength="3" />
          <mat-error *ngIf="supplierForm.get('businessName')?.hasError('required')">
            El nombre de la empresa es obligatoria
          </mat-error>
        </mat-form-field>
      </div>

      <!-- País -->
  <div class="form-field">
    <label>País <span class="required-asterisk">*</span></label>
    <mat-form-field appearance="outline" class="w-100">
      <mat-select formControlName="country">
        <mat-option *ngFor="let type of nationality" [value]="type.id">
          {{ type.description }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="supplierForm.get('country')?.hasError('required')">
        El país es obligatorio
      </mat-error>
    </mat-form-field>
  </div>
</div>

    <div class="form-row">
<!-- Teléfono -->
      <div class="form-field">
        <label>Teléfono <span class="required-asterisk">*</span> </label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput formControlName="phone"
          maxlength="10"
          (keypress)="allowOnlyNumbersPhone($event)"
          placeholder="Ingrese el teléfono"/>
          <mat-error *ngIf="supplierForm.get('phone')?.hasError('required')">
            El teléfono es obligatorio
          </mat-error>
        </mat-form-field>
      </div>


      <!-- RUC -->
    <div class="form-field">
      <label>RUC <span class="required-asterisk">*</span> </label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput formControlName="ruc"
        [attr.maxlength]="supplierForm.get('country')?.value === 5 ? 13 : 15"
              (keypress)="allowOnlyNumbers($event)"
              placeholder="Ingrese el RUC" />
        <mat-error *ngIf="supplierForm.get('ruc')?.hasError('required')">
          El RUC es obligatorio
        </mat-error>
        <mat-error *ngIf="supplierForm.get('ruc')?.hasError('rucInvalido')">
          {{ supplierForm.get('ruc')?.getError('rucInvalido') }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>



    <div class="form-row">
  <!-- Email -->
  <div class="form-field">
    <label>Email <span class="required-asterisk">*</span> </label>
    <mat-form-field appearance="outline" class="w-100">
      <input matInput type="email" formControlName="email"/>
      <mat-error *ngIf="supplierForm.get('email')?.hasError('required')">
        El email es obligatorio
      </mat-error>
      <mat-error *ngIf="supplierForm.get('email')?.hasError('email')">
        Ingresa un email válido
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Tipo de proveedor -->
  <div class="form-field">
    <label>Tipo de proveedor <span class="required-asterisk">*</span></label>
    <mat-form-field appearance="outline" class="w-100">
      <mat-select formControlName="supplierType">
        <mat-option *ngFor="let type of supplierTypes" [value]="type.id">
          {{ type.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="supplierForm.get('supplierType')?.hasError('required')">
        El tipo de proveedor es obligatorio
      </mat-error>
    </mat-form-field>
  </div>
</div>

<div class="form-row-full">
  <!-- Dirección -->
<div class="form-field">
  <label>Dirección <span class="required-asterisk">*</span> </label>
  <mat-form-field appearance="outline" class="w-100">
    <textarea
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="6"
      formControlName="address"
      minlength="3"
     >
    </textarea>
    <mat-error *ngIf="supplierForm.get('address')?.hasError('required')">
      La dirección es obligatoria
    </mat-error>
  </mat-form-field>
</div>




    <div class="itg-button-group">
      <button mat-flat-button class="itg-cancel-button" type="button" (click)="onCancel()">
        Cancelar
      </button>
      <button
        mat-flat-button
        class="itg-primary-button"
        type="submit"
        (click)="onSubmit()"
        [disabled]="isSubmitting">
        {{ supplierId != 0 ? 'Actualizar' : 'Crear' }}
          <mat-spinner *ngIf="isSubmitting" diameter="20" class="button-spinner"></mat-spinner>
      </button>
    </div>
    </div>
  </div>
