@if (!token) {
<form (ngSubmit)="onSubmit()" [formGroup]="recoveryForm" class="auth-form">
  <div class="auth-header">
    <img src="assets/logo.svg" alt="Logo" class="auth-logo" />
    <h2 class="auth-title">Recuperar Contraseña</h2>
  </div>

  <div class="form-row">
    <label for="email" class="custom-label">Correo Electrónico</label>
    <mat-form-field appearance="outline" class="full-width">
      <input matInput formControlName="email" placeholder="email@email.com" type="email" id="email"/>
      <mat-icon matSuffix>email</mat-icon>
      @if (recoveryForm.get('email')?.invalid &&
      recoveryForm.get('email')?.touched) {
      <mat-error>{{ "Ingresa un correo válido" }}</mat-error>
      }
    </mat-form-field>
  </div>

  <div class="btn-group">
    <button
      mat-raised-button
      type="submit"
      [disabled]="recoveryForm.invalid"
      class="itg-primary-btn"
    >
      Enviar Enlace de Recuperación
    </button>

    <button
      mat-button
      type="button"
      class="itg-secondary-btn"
      (click)="goBackToLogin()"
    >
      Volver al inicio de sesión
    </button>
  </div>
</form>

}@else {
<form (ngSubmit)="onSubmit()" [formGroup]="resetForm" class="auth-form">
  <div class="auth-header">
    <img src="assets/logo.svg" alt="Logo" class="auth-logo" />
    <h2 class="auth-title">Nueva Contraseña</h2>
  </div>

  <div class="form-row">
    <label for="password" class="custom-label">Nueva Contraseña</label>
    <mat-form-field appearance="outline" class="full-width">
      <input
        matInput
         [type]="hidePassword ? 'password' : 'text'"
        type="password"
        formControlName="newPassword"
        id="password"
        required
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Mostrar u ocultar contraseña'"
        [attr.aria-pressed]="!hidePassword"
      >
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      @if (resetForm.get('newPassword')?.touched) {
      @if (resetForm.get('newPassword')?.errors?.['required']) {
        <mat-error>La contraseña es requerida</mat-error>
      }
      @if (resetForm.get('newPassword')?.errors?.['minlength']) {
        <mat-error>Mínimo 8 caracteres</mat-error>
      }
      @if (resetForm.get('newPassword')?.errors?.['maxlength']) {
        <mat-error>Máximo 30 caracteres</mat-error>
      }
      @if (resetForm.get('newPassword')?.errors?.['pattern']) {
        <mat-error>
          La contraseña debe tener letras minúsculas y mayúsculas,
          números y caracteres especiales
        </mat-error>
      }
    }
    </mat-form-field>
  </div>

  <div class="form-row">
    <label for="confirmPassword" class="custom-label"
      >Confirmar Contraseña</label
    >
    <mat-form-field appearance="outline" class="full-width">
      <input
       [type]="hideConfirmPassword ? 'password' : 'text'"
        matInput
        type="password"
        formControlName="confirmPassword"
        id="confirmPassword"
        required
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hideConfirmPassword = !hideConfirmPassword"
        [attr.aria-label]="'Mostrar u ocultar contraseña'"
        [attr.aria-pressed]="!hideConfirmPassword"
      >
        <mat-icon>{{
          hideConfirmPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      @if (resetForm.get('confirmPassword')?.touched) {
        @if (resetForm.get('confirmPassword')?.errors?.['required']) {
          <mat-error>Debe confirmar la contraseña</mat-error>
        }

        @if (resetForm.errors?.['passwordsMismatch']) {
          <mat-error>Las contraseñas no coinciden</mat-error>
        }
      }
    </mat-form-field>
  </div>

  <div class="btn-group">
    <button
      mat-raised-button
      type="submit"
      [disabled]="resetForm.invalid"
      class="itg-primary-btn"
    >
      Guardar Nueva Contraseña
    </button>

    <button
      mat-button
      type="button"
      class="itg-secondary-btn"
      (click)="goBackToLogin()"
    >
      Volver al inicio de sesión
    </button>
  </div>
</form>
}

<!-- Reset password form (visible solo si hay token) -->
