:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 85%;
}


.full-width {
  width: 100%;
}

.form-row {
  margin-bottom: -8px;
}

button[type="submit"] {
  align-self: center;
  width: 100%;
}

.auth-header {
  text-align: center;
  margin-bottom: -10px;

  .auth-logo {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 2rem

  }

  .auth-title {
    font-size: 2rem;
    margin: 0;
    color: var(--itg-text);
    text-align: center;
  }
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-top: -5px;
}
