<div class="container">
  <div class="left-pane">
    <router-outlet></router-outlet>
  </div>
  <div class="right-pane">
    <div class="content">
      <div class="material-carousel">
        <div class="slider" [@slideAnimation]="currentIndex">
          <div *ngFor="let image of images; let i = index" 
               class="slide" 
               [class.active]="i === currentIndex">
            <img [src]="image.url" [alt]="image.alt">
          </div>
        </div>
      </div>
      
      <h2>Integrity Solutions</h2>
      <p>Nuestras lineas de negocios, proporcionan a nuestros clientes el respaldo apropiado en la busqueda de soluciones integrales
        a nivel empresarial, junto con la experiencia de nuestros consultores y el compromiso de calidad brindada.
      </p>
    
  </div>
</div>
